/* STYLE RULES FOR THE DASHBOARD  */

/* Reset all default paddings and margins */
* {
    margin: 0;
    padding: 0;
}

body, 
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Rules for the overall layout */
.container {
    display: grid;
    min-height: 800px; 
    width: 100%; 
    height: auto; 
    grid-template-columns: minmax(15%, 250px) minmax(60%, 4fr); 
    grid-template-rows: 100px 1fr;  
    background-color: grey;
    box-sizing: border-box;
}




/* The header as a grid container */
.header {
    display: grid;
    grid-template-columns: minmax(60%, 2fr) minmax(15%, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}



/* Rule for bold text */
.bold-text {
    font-weight: bold;
}

/* Rules for the search input and symbol */
#search_bar {
    display: flex;
    justify-content: start;
    padding-left: 50px;
    align-items: center;
    gap: 5px;
}


/* Rules for the search input */
input[type=search]{
    border-radius: 15px;
    border:0; 
    background-color: #EBEAFF;
    width: 450px;
    height: 20px;
}

/* Rules for the search icon */
img[src*="search"], 
img[src*="notification"]{
    height: 20px;
}

/* Rules for the user info: notification icon, profile photo, name */
#user_info {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Rules for the Profile */
.profile_text,
#profile {
    display: flex;
}

/* Direction of the profile texts */
.profile_text{
    flex-direction: column;
}

/* Rules for the left user info */
#profile {
    gap: 10px; 
    padding-left: 50px;
    align-items: center;
}

/* Rule for the salution or greeting text */
.greeting {
    font-size: 13px;
}

/* Rule for the Left Profile picture */
img[src*="user_info"].profile_image{
    height: 40px;
}

/* Rule for right Profile image */
img[src*="user_info"]{
    height: 25px;
}

#button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px ;
}

button {
    height: 25px;
    width: 70px;
    border-radius: 15px;
    background-color:#1e88e5;
    border: 0;
    font-weight: bold;
    color: white;

}




/* SIDEBAR SECTION */

/* Rule for the sidebar section as part of the overall layout */
.sidebar {
    background-color:#1e88e5;
    grid-row: 1/span 2;
}

/* Rules for the container within the sidebar section that will house the elements here */
.sidebar-container {
    display: grid;
    grid-template-rows:1fr 5fr 2fr; 
    row-gap:30px; 
    font-size: 15px;
    min-height: 60%;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Display rule for the first section of the navs */
.dashboard-nav{
    display: flex;
    gap:5px;
    align-items: center;
    margin-top: 10px;
}

/* Rule for the dashboard icon */
img[src*="dashboard icon"]{
    height :30px;
}

/* Display rule for the lower 2 3rd section */
.main-nav,
.support-nav{
    display: grid;
    row-gap: 3px;
}

/* Rule to make the texts and icons stand side by side in the lower 2 3rd section */
.mnpack{
    display: flex;
    gap: 5px;
    align-items: center;
}

/* Rule to push the elements away from the left side */
.main-nav,
.dashboard-nav,
.support-nav {
    margin-left: 10px;
}

/* General rule for the icons */
img {
    height: 20px;
}

.dashboard-text {
    font-size: 1.4em;
}


/* MAIN CONTENT AREA */

.main_content{
    display: grid;
    /* align-items: center; */
    justify-items: center;
    background-color: #EBEAFF;
    min-height: 600px;
    padding-top: 30px; 
}



.main_content_container {
    height: 85%;
    width:95%;
}


.main_content_container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 15px;
}


.left-main, 
.right-main {
    background-color: inherit; 
}


.left-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    flex: 1;
}

.right-main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}


.card,
.placard {
    background-color: white;
    border-radius: 5px;
}

.card {
    border-left: 5px solid goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

.card-text,
.card-icons{
    padding-left: 10px;
}

.card-icons{
    display: flex;
    gap: 20px;
    align-self: flex-end;
    padding-right: 15px;
}

.card-text {
    width: 70%;
}

/* Card body & placard text rule */
.card-text > .body-text,
.notification > .body-text  {
    color: grey;
}

.placard {
    display: grid;
    align-items: center;
}

.placard1{
    justify-items: center;
    display: grid; 
    flex: 1;


}


.anouncement {
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
}

.notification1, 
.notification2 {
    border-bottom: 1px solid lightgray; 
    padding-bottom: 5px;
}


.placard1,
.placard2 {
    font-size: 0.75em;
}

.placard2 {
    padding-left: 10px;
    display: grid; 
}

.user {
    display: flex;
    gap: 7px;
}

.user-text > .body-text {
    color: grey;
}


.left-side {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section-title {
    margin-bottom: 10px;
}


.bottom-side {
    display: flex ;
    flex-direction: column;
}

.bottom-side > .placard.placard2{
    flex: 1;
}

.top-side {
    display: flex;
    flex-direction: column; 
}
